<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://kit.fontawesome.com/d7383f5e9e.js"
      crossorigin="anonymous"
    ></script>
    <link
      href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/style.css" />
    <title>pre lol</title>
  </head>
  <header>
    <span class="title">PREPRO</span>
  </header>
  <div class="navbar">
    <ul class="navbar__menu">
      <li>랭킹</li>
      <li>자유게시판</li>
      <li>분석</li>
      <li>My</li>
    </ul>
  </div>

  <body>
    <div class="matches">
      <div class="match__title">
        <button><i class="fas fa-chevron-left"></i></button>
        <span class="match__day">Today's match</span>
        <button><i class="fas fa-chevron-right"></i></button>
      </div>
      <ul>
        <li class="match__list">
          <div class="left__team">
            <img src="./images/t1_icon.png" alt="team logo" />
            <span class="team__name">T1</span>
          </div>
          <span class="vs">VS</span>
          <div class="right__team">
            <span class="team__name">DRX</span>
            <img src="/images/drx_icon.png" alt="team logo" />
          </div>
        </li>
      </ul>
    </div>
  </body>
</html>
