<body onload="processMatch(<%=JSON.stringify(matches)%>);"></body>

<div class="matches">
    <div class="match__title">
        <button class="left-button--blue"> <i class="fas fa-caret-left" area-hidden="true" style="color:#2353a5; font-size:50px;"></i></button>
        <span class="match__day">
            <h3>
                <div class="bold">경기 목록</div>
            </h3>
        </span>
        <button class="right-button--blue">
            <i class="fas fa-caret-right" area-hidden="true" style="color:#2353a5;font-size:50px;"></i></button>
    </div>
    <hr>
    <span class="alert-msg"></span>
    <form method="post" action='/vote' name="voteSubmit" class="vote-form">
        <div class="jumbotron my-5 ">
            <div class="vote-container">

            </div>
        </div>
        <hr>
        <!-- <input type="submit" value="투표하기" class="voteSubmit__btn"/> -->
        <button type="submit" class="vote-submit-btn">투표하기</button>
    </form>
</div>
