<button class="test">test</button>

<div class="matches">
  <div class="match__title">
    <button class="left__button"><i class="fas fa-chevron-left"></i></button>
    <span class="match__day">Today's match</span>
    <button class="right__button"><i class="fas fa-chevron-right"></i></button>
    <form method="GET" action="/change-month" hidden name="changeMonth">
      <input type="text" name="date" id="date">
    </form>

  </div>
  <div class="vote__container">

  </div>
</div>