:root {
    --text-color: #f0f4f5;
    --background-color: #2b4fff;
    /* --background-light-color: #90caf9; */
    --accent-color: #d49466;

    --pading: 8px 12px;
}

* {
    padding: 0;
    margin: 0;
    text-align: center;
    font-family: 'Noto Sans KR', sans-serif;
}

#logo {
    width: auto;
    height: 150px;
    flex-shrink: 1;
    display: flex;
    margin: 10px;
}

body:not(.navbar) {
    background-color: #f5f6f7;
}

a:link,
a:visited {
    color: black;
}

a:hover {
    text-decoration: none;
    color: red;
}

a {
    text-decoration: none;
    color: white;
}

.bold {
    font-weight: bold;
    font-family: 'Noto Sans KR', sans-serif;
}

.white {
    color: white;
}

#pageCount {
    font-weight: bold;
    font-size: 20px;
    border: none;
}

#pageCount tr {
    background-color: #e9ecef;
    outline: none;
}


.button-group {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}

.button-group a {
    display: flex;
    width: 100x;
    height: 50px;
    color: white;
    margin-right: 5px;
}

#board-table {
    border-radius: 15px;
}

header {
    display: flex;
    flex-direction: column;
    align-content: flex-end;
    background-color: var(--background-color);
}

#topNav {
    background-color: #0026ca;
    display: flex;
    width: 100%;
    height: 30px;
    text-align: right;
    padding: 5px;
}

#topNav a {
    color: white;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-content: flex-end;
    flex-direction: row;
    flex-wrap: nowrap;

    background-color: #2b4fff;
    padding: var(--pading);
}

.navbar .profile {
    margin: 0 20px;
}

.navbar .profile a {
    display: flex;
    width: auto;
    margin: 5px;
    height: 20px;
    flex-shrink: 1;
}

.navbar__menu {
    margin: 0 20px;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

/*container*/

.navbar__menu li {
    width: auto;
    margin: 5px;
    height: 20px;
    flex-shrink: 1;
    padding: var(--pading);
}

.navbar__menu li > a {
    width: auto;
    margin: 5px;
    height: 20px;
    flex-shrink: 1;
    padding: var(--pading);
}



body {
    margin: 0;
    font-family: 'Source Sans Pro';
}

ul {
    list-style: none;
    margin: 0;
}

.join {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    flex-shrink: 2;

    background-color: #14bf68;
    width: 100%;
    height: 40px;
    padding: 5px 30px;
    margin: auto;
    border-radius: 5px;
    font-weight: 600px;
}

.join a {
    color: white;
    text-decoration: none;
}


.yet {
    font-size: 13px;
}


td {
    padding: 3px;
}

table {
    font-family: 'Noto Sans KR', sans-serif;
    border: 1px solid #dddddd;
    width: 100%;
}

thead {
    background-color: #dddddd;
    border: 1px solid #616971;
}

table tbody tr:nth-child(2n) {
    background-color: #f9f9f9;
}

table tbody tr:nth-child(2n-1) {
    background-color: #ffffff;
}

button {
    width: 100px;
    height: 50px;
    border-radius: 15px;
}


.matches {
    padding: 50px 100px;
    /* border-style: solid; */
    margin: 50px auto;
    max-width: 1000px;
    justify-content: center;
}

.matches h1 {
    text-align: center;
}

.team__name {
    display: flex;
    justify-content: center;
    align-items: center;
}

.match__title {
    display: flex;
    justify-content: center;
}

.match__day {
    width: 300px;
    text-align: center;
}

.left__team {
    display: flex;
    width: 300px;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
}

.right__team {
    display: flex;
    width: 300px;
    justify-content: flex-end;
    align-items: center;
    cursor: pointer;
}

.vs {
    display: flex;
    align-items: center;
}

.match__list {
    display: flex;
    justify-content: space-between;
    padding: var(--pading);
}

.match__radioBtn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.votes {
    padding: 0 10px;
}

.voted {
    background-color: #d49466;
}

.match__date {
    display: inline-block;
    text-align: center;
}

.ended__match {
    opacity: 50%;
}




.day__match {
    padding: 30px 0;
    background-color: #ffffff;
    border-radius: 5px;
    margin-bottom: 20px;
}

.dateSpan {
    font-weight: bold;
    width: 100px;
    height: 50px;
    margin-bottom: 10px;
}

.matching {
    display: flex;
    justify-content: center;
    background-color: #6395d1;
    color: white;
    border-radius: 5px;
    font-weight: bold;
    width: 100%;
}



footer {
    background-color: var(--background-color);
    display: flex;
    height: 50px;
    width: 100%;
    bottom: 0px;
    position: fixed;
    padding: 10px;
    color: white;
}

.left__button {
    background-color: #f5f6f7;
    border: 0px;
    outline: 0px;
    color: white;
    font-size: 20px;


}


.right__button {
    background-color: #f5f6f7;
    border: 0px;
    outline: 0px;
    color: white;
    font-size: 20px;
    font-weight: bold;

}

.voteSubmit__btn {
    border: 0px;
    outline: 0px;
    color: white;
    background-color: #007bff;
    border-radius: 5px;
}
}

/* IMAGE STYLES */
/* [type='radio'] + img {
  cursor: pointer;
} */